.w-switch {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1px 0 0 1px;
}

.w-switch_item {
  @include text(s);
  font-weight: 600;
  height: 34px;
  line-height: 34px;
  border: solid 1px black;
  background: white;
  color: black;
  padding: 0 $size_s;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  margin-left: -1px;
  margin-top: -1px;

  &:hover, &:focus, &:active {
    color: #3d3d3d;
  }

  &__active {
    background: black;
    color: white;
    cursor: default;

    &:hover, &:focus, &:active {
      color: white;
    }
  }
}
